@keyframes Blink {
  0% {
    background-color:rgba(232, 253, 245, 0);
  }
  50%{
    background-color:rgba(232, 253, 245, 1);    
  }
  60%{
    background-color:rgba(232, 253, 245, 1);
  }
  100%{
    background-color:rgba(232, 253, 245, 0);
  }
}

.Task__AnimatedBackground--EmptyState{
  animation: Blink 1s ease-out;
  animation-iteration-count: 2;
}

@media(max-width: 767px) {
  /* phones */
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
