.TaskPanel {
  height: 100%; /* 100% Full-height */
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: width 0.4s ease;
}

.TaskPanel--Open{
  display:block;
  padding: 1.5rem;
  width: 100%;

}
.TaskPanel--Close{
  padding: 1.5rem 0;
}
