.Sprint {}

.SprintTasksWrapper {}

.Sprint__CursorMove {
  cursor: move;
}

.Sprint__Time {
  color: black;
  font-weight: 500;
  /*font-family: monospace;*/
  font-size: 0.95rem;
  letter-spacing: 0.03rem;
}
.Sprint__Time--DateRange{
  color: gray;
  letter-spacing: -0.06rem;
}
.Sprint__Time--DaysRemaining{
  margin-left: 1rem;
}

.Sprint__DashedBorder {
  border: 0.3rem dashed gray;
  border-radius: 0.5rem;
}

@media(max-width: 767px) {
  /* phones */
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
