.Navigation--LeftPadding {
  padding-left: 3rem;
}

.Navigation__Logo {
  letter-spacing: 0.05rem;
  font-family: 'Julius Sans One', sans-serif;
}

.NavigationItem--Display{
  display:inline-block;
}

.NavigationItem--Hide{
  display:none !important;
}

.Navigation__Logo--Border{
  /*letter-spacing: -0.8rem;
  padding-top:-1rem;*/
}

@media(max-width: 767px) {
  /* phones */
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
