.Tasks {

}
.Task{
  cursor: pointer;
}
.Task__Icon{
  height: 3rem;
  width: 3rem;
}
.Backlog__CursorMove{
  cursor: move;
}
@media(max-width: 767px) {
  /* phones */
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
