.Dashboard{
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position:relative;
  width: 100%;
}

.Dashboard__Loading{
  min-height: 323px;
}

.Dashboard__FailureWrapper{

}

.Dashboard__BacklogWrapper{
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

.Dashboard__SprintsWrapper{
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 1;
}

@media(max-width: 480px) {
  /* phones */
}

@media(max-width: 767px) {
  /* phones */
  .Dashboard__TasksWrapper, .Dashboard__SprintsWrapper{
    flex-basis: 100%;
  }
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
