@-webkit-keyframes TaskModalAnimateAppearance {
    from {top: 100px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes TaskModalAnimateAppearance {
    from {top: 100px; opacity: 0}
    to {top: 0; opacity: 1}
}

.TaskModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.TaskModalContent {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto; /*position of modal 10% from top*/
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: TaskModalAnimateAppearance;
  -webkit-animation-duration: 0.3s;
  animation-name: TaskModalAnimateAppearance;
  animation-duration: 0.3s
}

@media(max-width: 767px) {
  /* phones */
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
