@-webkit-keyframes TaskModalAnimateAppearance {
  from {
    top: 100px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes TaskModalAnimateAppearance {
  from {
    top: 100px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.TaskModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.TaskModalContent {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  /*position of modal 10% from top*/
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: TaskModalAnimateAppearance;
  -webkit-animation-duration: 0.3s;
  animation-name: TaskModalAnimateAppearance;
  animation-duration: 0.3s
}

.TaskModalHeader {
  width: 100%;
  text-align: right;
}

.TaskModalSizeFlexWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.TaskModalSizeFlexItem {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

.TaskModalSizeFlexItem--Left {
  padding-right: 0.3rem;
}

.TaskModalSizeFlexItem--Right {
  padding-left: 0.3rem;
}

.TaskModalButtons {
  margin: 0.8rem 0 0 0;
  padding-right: 1px;
  width: 100%;
  text-align: right;
}

.TaskModal_ErrorMessage {
  margin-right: 1rem;
}


/* Milligram styles */

input[type='date'], input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 0;
  box-shadow: none;
  box-sizing: inherit;
  font-size: 0.9rem;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0rem 0.8rem;
  width: 100%;
}

textarea {
  padding: 0.5rem 0.8rem;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border-color: #9b4dca;
  outline: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0rem;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

textarea {
  min-height: 6.5rem;
}

label, legend {
  display: block;
  font-weight: 500;
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'], input[type='radio'] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

@media(max-width: 767px) {
  /* phones */
  .TaskModalContent {
    height: 100%;
    width: 100%;
    margin: auto;
    /*position of modal 10% from top*/
  }
  .TaskModalSizeFlexItem {
    flex-basis: 100%;
  }
  .TaskModalSizeFlexItem--Left, .TaskModalSizeFlexItem--Right {
    padding: 0rem;
  }
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
