.Login__Icon {
  color: black;
  text-decoration: none;
}

.LoginIconHeight {
  height: 3rem;
}

.LoginList {
  max-width: 16rem;
}

.LoginList__Item {
  cursor: pointer;
}

.LoginLoading{
  min-height: 323px;
}
.LoginCaption--Hidden{
  visibility:hidden;
}
@media(max-width: 767px) {
  /* phones */
}

@media(max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}

@media(min-width: 768px) {
  /* tablets and desktop */
}
